* {
    margin:0;
    padding:0;
    
}

input, a, link, button {
    font-family: sans-serif, 'Helvetica', 'Arial';
    color: black;
    font-size: 14px;
}

/*reset*/
.btn {
    background: white;
    border: none;
    text-align: left;
    text-decoration: none;
    border: none;
}
input {
    font-size: 13px;
}


/*text*/
a:hover {
    color: #EC2028;
    text-decoration: none;
}

.question a{
    font-size: 11px;
    padding:10px;
    text-decoration: underline;
}
.navigation ul li{
    text-align: justify;
    margin-right: 20px;
}


/*images*/
.soc{
    margin: 2px;
    width: 20px;
}

#search {
    width: 25px;
    position: absolute;
    right:0;
    margin-right: 20px;
}

#top_header{
    width: 100%;
}

#key {
    width: 20px;
    margin-right: 10px;
}

#call_center {
    width: 35px;
}



/*buttons*/

.btn_red_grad {
  background: #F13D33;
  background-image: -webkit-linear-gradient(top, #F13D33, #EC2028);
  background-image: -moz-linear-gradient(top, #F13D33, #EC2028);
  background-image: -ms-linear-gradient(top, #F13D33, #EC2028);
  background-image: -o-linear-gradient(top, #F13D33, #EC2028);
  background-image: linear-gradient(to bottom, #F13D33, #EC2028);
}


/*vertical menu*/
.finder, .news_archive {
    -webkit-box-shadow: 1px 2px 1px #EFEFEF;
      -moz-box-shadow:  1px 2px 1px #EFEFEF;
      box-shadow: 1px 2px 1px #EFEFEF;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-color: #EFEFEF;
    margin-top: 15px;
    padding:10px;
}
.dost {
    -webkit-box-shadow: 0px 2px 1px #EFEFEF;
      -moz-box-shadow:  0px 2px 1px #EFEFEF;
      box-shadow: 0px 2px 1px #EFEFEF;
    border-radius: 0px;
    border-style: solid;
    border-width: 0px 1px 1px;
    border-color: #EFEFEF;
    padding:15px;
    width:100%;
    text-align: left;
}
/*vertical menu*/


.btn-money {
  background: #ef4349;
  background-image: -webkit-linear-gradient(top, #ef4349, #EC2028);
  background-image: -moz-linear-gradient(top, #ef4349, #EC2028);
  background-image: -ms-linear-gradient(top, #ef4349, #EC2028);
  background-image: -o-linear-gradient(top, #ef4349, #EC2028);
  background-image: linear-gradient(to bottom, #ef4349, #EC2028);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 1px 1px 3px #666666;
  color: #ffffff;
  font-size: 16px;
  padding: 2px 10px;
  border: none;
  text-decoration: none;
    width :100%;
}

/*mobile button*/
.btn-android, .btn-apple{
    margin: 10px;
    background: #ffffff;
  border: none;
}
#android {
    margin-right: 70px;
}
/*mobile button*/



/*sign up and registration*/
.btn_enter {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 1px 1px 3px #666666;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  padding: 2px 10px;
  height:27px;
}
.btn_enter:hover {
  text-decoration: none;
}
.entering {
    margin-top: 16px;
}
/*sign up and registration*/

#sitefinder {
    border: solid 1px;
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  -webkit-box-shadow: 1px -2px #666666;
  -moz-box-shadow:  1px -2px #666666;
  box-shadow:  1px -2px #666666;
  color: #d1d1d1;
  
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 180px;
  height : 16px;
    margin-top: 16px;
}




/*dropdown menu*/
.liner {
    background-color: #EC2028;
    height: 5px;
}
.navigation {
      background: #ffffff;
      background-image: -webkit-linear-gradient(top, #ffffff, #EFEFEF);
      background-image: -moz-linear-gradient(top, #ffffff, #EFEFEF);
      background-image: -ms-linear-gradient(top, #ffffff, #EFEFEF);
      background-image: -o-linear-gradient(top, #ffffff,#EFEFEF);
      background-image: linear-gradient(to bottom, #ffffff, #EFEFEF);
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      -webkit-box-shadow: 0px 1px 3px #CCCCCC;
      -moz-box-shadow: 0px 1px 3px #CCCCCC;
      box-shadow: 0px 1px 3px #CCCCCC;
      font-family: Arial;
      color: #000000;
      font-size: 14px;
      text-decoration: none;
}
.navigation ul li{
    display: inline-block;
    padding: 6px;    
}
.navigation ul li a,visited {
    display: block;
}
.navigation ul li:hover ul {
    display: block;
    padding: 0px;
          background: #ffffff;
      background-image: -webkit-linear-gradient(top, #ffffff, #d6d6d6);
      background-image: -moz-linear-gradient(top, #ffffff, #d6d6d6);
      background-image: -ms-linear-gradient(top, #ffffff, #d6d6d6);
      background-image: -o-linear-gradient(top, #ffffff, #d6d6d6);
      background-image: linear-gradient(to bottom, #ffffff, #d6d6d6);
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      -webkit-box-shadow: 0px 1px 3px #666666;
      -moz-box-shadow: 0px 1px 3px #666666;
      box-shadow: 0px 1px 3px #666666;
      font-family: Arial;
      color: #000000;
      font-size: 14px;
      text-decoration: none;
        z-index: 100;
}
.navigation ul ul li {
    display: block;
    margin: 0px;
}
.navigation ul ul {
    display:none;
    position: absolute;
}
/*dropdown menu*/




/*image slider*/
#image_slider {
    position: relative;
    height: auto;
    margin-top: 15px;
    border: 1px solid #000000;
    transition: opacity 0.3s linear 0s;
    border: 0px;
    background-color: white;
}
#bubbles {
    width: 100%;
    text-align: center;
    border: 1px;
}
#bubbles > div {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px 3px;
    background: #EC2028;
    text-align: center;
    border-radius: 100%;
    border: 1px solid #EC2028;
    font-size: 17px;
    text-decoration: none;
    transition: background 0.3s linear 0s;
    cursor: pointer;
}
#image_slider img {
    width: 100%;
    height: auto;
}
.slide-bubble hr {
    width:20%;
    margin-top: 0px;
}
/*image slider*/














#callback {
    background: white;
    border: none;

}




.next {
    background: #666666;
    width: 25px;
    height: 25px;
    border: none;
}

#next_tr {
    width: 12px;
    
}

.next:hover{
    background: #EC2028;
}



.dost:hover {
    background: #EFEFEF;
}

hr {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}














